@model List<CafeMenuProject.Models.ProductPropertyViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 0px 20px 20px 20px" class="form-group">
    <table class="table table-bordered">
        <br />
        <h3>Ürün Özellikleri Listesi</h3>
        <td> <a class="btn btn-success btn-sm " href="/AdminProductProperty/ProductPropertyAdd">Yeni Özellik Ekle</a></td>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Özellik Adı</th>
            <th>Sil</th>
            <th>Düzenle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ProductPropertyId</th>
                <td>@item.ProductName</td>
                <td>@item.PropertyName</td>
                <td><a id="delet" class="btn  btn-info btn-sm" href="/AdminProductProperty/Update/@item.ProductPropertyId">Düzenle</a></td>
                <td>
                    <a href="@Url.Action("Delete", "AdminProperty", new { id = @item.PropertyId })" id="delete" class="btn btn-danger btn-sm">Sil</a>
                </td>

            </tr>
        }
    </table>
    </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Delete butonuna tıklama olayını dinle
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault(); // Varsayılan tıklama işlemini engelle
        var url = $(this).attr('href'); // Href içindeki URL'yi al

        // SweetAlert popup'ı
        Swal.fire({
            title: 'Silmek istediğinizden emin misiniz?',
            text: "Bu işlem geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                // Eğer kullanıcı onay verirse AJAX isteği gönder
                $.ajax({
                    url: url,
                    type: 'POST', // Silme işlemi POST metodu ile yapılır
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'Silindi!',
                                'Kayıt başarıyla silindi.',
                                'success'
                            ).then(() => {
                                location.reload(); // Sayfayı yenile
                            });
                        } else {
                            Swal.fire(
                                'Hata!',
                                response.message,
                                'error'
                            );
                        }
                    },
                    error: function () {
                        Swal.fire(
                            'Hata!',
                            'Sunucuya bağlanırken bir hata oluştu.',
                            'error'
                        );
                    }
                });
            }
        });
    });
</script>


